[alias]
	co = checkout
	st = status
	ci = commit
[user]
	name = Frantz Gauthier
	email = frantz@myentropy.org
[push]
	default = simple
[color]
	ui = auto
[core]
	excludesfile = /home/frantz/.gitignore_global
